/* footer */
footer {
   width: 100%;
   background-color: black;

   .logo-footer {
      &:hover {
         font-size: 40px;
       }
    }
    .footer-link {
      &:hover {
         text-decoration: underline;
         font-size: 20px;
         transition: 0.5s;
       }
    }
}
 /* fin footer */