@mixin display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.banner_1 {
    @include display;
}

@mixin display-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: $color-white;
    color: $color-black;
    border: 2px solid white;
}

.productos {
    @include display-2;
}